gitlab:
  toolbox:
    enabled: true
    extraVolumes: |-
      - name: piper-config
        configMap:
          name: piper-setup
    extraVolumeMounts: |-
      - mountPath: /tmp/scripts/piper-setup.rb
        name: piper-config
        subPath: gitlab_setup.rb
        readOnly: true
  gitlab-shell:
    enabled: true
  gitlab-pages:
    enabled: false
  gitlab-exporter:
    enabled: false
  kas:
    minReplicas: 1
  webservice:
    enabled: true
    minReplicas: 1
    ingress:
      requireBasePath: false
global:
  gitlab:
    license:
      key: license_key
      secret: gitlab-license
  hosts:
    domain: localhost
    https: false
    gitlab:
      name: localhost
      https: false
  ingress:
    enabled: true
    configureCertmanager: false
    tls:
      enabled: false
  redis:
    install: false
traefik:
  enabled: false
gitlab-runner:
  install: false
registry:
  enabled: false
prometheus:
  install: false
certmanager:
  installCRDs: false
  install: false
nginx-ingress:
  controller:
    ingressClassResource:
      name: gitlab-nginx
      controllerValue: "k8s.io/ingress-nginx-gitlab"
    replicaCount: 1
    minAavailable: 1
    service:
      type: NodePort
      nodePorts:
        http: 32080
